In [14]:
import pandas as pd

# CSVovi

Svi csvovi su ;-separated. Imaju header i index.

* inventura.csv
    - popis artikala koje postoje u trgovini s njihovim IDovima
* korisnici.csv
    - popis korisnika, tj. mušterija
* narudžbe.csv
    - popis narudžbi. svaka narudžba ima svoj ID. ako narudžba ima više artikala, više puta se pojavljuje ID u tablici
* po_korisnicima.csv
    - popis korisnika i njihovih narudžbi. korisnici se mogu pojavljivati više puta.
    - narudžba bi se trebala pojavljivati samo jednom, iako nije problem ako bude više puta

# Korisnici

1. Odredi koliko M i F mušterija trgovina ima (M: 46, F: 54)
2. Odredi koliko M i F mušterija je kupilo nešto u trgovini (M: 46, F: 53) (hint: .isin(po_kor['korisnik_id']))
3. Odredi koliko gradova se pojavljuje više puta u listi korisnika (26). (hint: .unique())
4. Odredi koji grad se najčešće pojavljuje (Bjelovar) (hint: .mode())
5. Ispiši imena korisnika iz najčešćeg grada (Vesna, Dragan, Valentina)

In [15]:
mušterija = pd.read_csv('korisnici.csv', sep=';', index_col=0)
#mušterija.head()
#1)
m_i_ž= mušterija['spol'].value_counts(dropna=True)
print(m_i_ž)
#2)
korisnici = pd.read_csv('po_korisnicima.csv', sep=';', index_col=0)
kupili = mušterija[mušterija['user id'].isin(korisnici['korisnik_id'])]
broj_kupili = kupili['spol'].value_counts()
print(broj_kupili)
#3)
gradovi= mušterija['grad'].value_counts(dropna=False)
dupli_gradovi = gradovi[gradovi > 1]
broj_duplih_gradova = len(dupli_gradovi)
print(f'Broj gradova koji se pojavljuju više od jednom na listi korisnika: {broj_duplih_gradova}')
#4)
najcesci_grad = mušterija['grad'].mode()
print(najcesci_grad)
#5)
imena_iz_najcesceg_grada = mušterija[mušterija['grad'] == najcesci_grad.iloc[0]]['ime']
print(imena_iz_najcesceg_grada.tolist())

spol
F    50
M    50
Name: count, dtype: int64
spol
F    38
M    33
Name: count, dtype: int64
Broj gradova koji se pojavljuju više od jednom na listi korisnika: 23
0              Buje
1              Hvar
2          Karlovac
3            Kutina
4           Ludbreg
5            Našice
6             Poreč
7              Pula
8            Rovinj
9     Sveta Nedelja
10       Virovitica
Name: grad, dtype: object
['Manda Turčinov', 'Kata Tomić', 'Barbara Bralić']

# Inventura

6. Odredi ima li više muških ili ženskih artikala (M: 63, F: 75)
7. Odredi prosječnu i modalnu cijenu artikala u trgovini (mean: 38,9, mode: 31) (hint: .describe())
8. Odredi prosječnu cijenu muških i ženskih artikala zasebno (mean M: 40,2, mean F: 37,8)
9. Odredi koliko artikala dolazi u crnoj boji (29)
10. Odredi koliko artikala dolazi u crnoj i u bijeloj boji (13) (hint: raastavi u dvije tablice)

In [16]:
#6)
inventura = pd.read_csv('inventura.csv', sep=';' ,index_col=0 )
#inventura.head()
artikl = inventura['spol'].value_counts(dropna=False)
print(artikl)
#7)
cijena_mean = inventura['cijena'].mean()
print(cijena_mean)
cijena_mode = inventura['cijena'].mode()
print(cijena_mode)
#8)
prosjek_po_spolu = inventura.groupby('spol')['cijena'].mean()
print(prosjek_po_spolu)
#9)
black = inventura['boja'].value_counts(dropna=False)
print(black)
#10)
crna_i_bijela = inventura[inventura['boja'].isin(['crna', 'bijela'])]
broj_crna_i_bijela = len(crna_i_bijela)
print(f'Broj artikala koji dolaze u crnoj i bijeloj boji: {broj_crna_i_bijela}')

spol
Women    69
Men      65
Name: count, dtype: int64
40.61940298507463
0    37
Name: cijena, dtype: int64
spol
Men      40.984615
Women    40.275362
Name: cijena, dtype: float64
boja
crna      29
crvena    28
plava     27
bijela    27
zelena    23
Name: count, dtype: int64
Broj artikala koji dolaze u crnoj i bijeloj boji: 56

# Narudžbe

11. Dodaj na narudžbe cijenu tog artikla. (hint: merge)
12. Pomnoži cijenu s komadima (hint: doslovce df[col3] = df[col1] * df[col2] )
13. Poveži narudžbe s korisnicima (hint: merge)
14. Poveži korisnike sa županijama (hint: merge)
15. Izračunaj koliko je svaki korisnik potrošio u trgovini (TEŽE!! hint: group, .sum())
16. Poveži taj broj s korisnicima i županijama.
17. Izračunaj iz koje županije je trgovina dobila najviše novca (TEŽE!! hint: group, .sum())

In [17]:
#11)
order = pd.read_csv('narudžbe.csv', sep=';', index_col=0)
order.head()
#pd.merge( inventura['cijena'], order, how='inner', on='id')
#12)
#order['ukupni_trošak'] = order['komada'] * order['cijena']
#print(order['ukupni_trošak'])
#13)
#14)
#15)
#16)
#17)

      id  artikl  komada
0  47299   21923       1
1  22181   22285       1
2  51646   29596       1
3  51646   48134       1
4  26229   98361       2